//BASE
$color-base-blackish: #141413;
$color-base-darkest: #282824;
$color-base-dark: #9b9990;
$color-base-soft: #e5e4dc;
$color-base-light: #e9e9e2;
$color-base-lightest: #f2f1ed;
$color-base-whitish: #f6f6f3;
$color-base-white: #ffffff;

//BRAND
$color-brand-primary-lightest: #ff9e00;
$color-brand-primary-light: #ff9700;
$color-brand-primary-soft: #ff7900;
$color-brand-primary-dark: #ff5d00;
$color-brand-primary-darkest: #f32735;
$color-brand-secondary-lightest: #0074ff;
$color-brand-secondary-light: #0057ff;
$color-brand-secondary-soft: #004ce6;
$color-brand-secondary-dark: #0040bf;
$color-brand-secondary-darkest: #003b99;

//ALERT
$color-alert-primary-dark: #1fad4f;
$color-alert-primary-light: #37dc6f;
$color-alert-secondary-dark: #f43434;
$color-alert-secondary-light: #ff4c4c;
$color-alert-tertiary-dark: #ffb000;
$color-alert-tertiary-lightest: #ffb000;

//GRADIENT
$color-gradient-primary: linear-gradient(
  60.65deg,
  #f32735 1.61%,
  #ff9700 103.86%
);
$color-gradient-secondary: linear-gradient(
  227.47deg,
  #37dc6f 41.4%,
  #1fad4f 96.33%
);
$color-gradient-tertiary: linear-gradient(
  228.05deg,
  #9b9990 0%,
  #141413 81.95%
);

//FONT WEIGHT
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-semibold: 600;
$font-weight-bold: 700;

//FONT SIZE
$font-size-xxxs: 12px;
$font-size-xxs: 16px;
$font-size-xs: 20px;
$font-size-sm: 24px;
$font-size-md: 32px;
$font-size-lg: 40px;
$font-size-xl: 48px;

//SPACING SQUISH
$spacing-squish-quarck: 4px 8px;
$spacing-squish-nano: 8px 16px;
$spacing-squish-xxs: 16px 24px;
$spacing-squish-xs-full: 16px 100%;

//SPACING INLINE
$spacing-inline-quarck: 4px;
$spacing-inline-nano: 8px;
$spacing-inline-xxs: 16px;
$spacing-inline-sm: 24px;
$spacing-inline-md: 32px;
$spacing-inline-lg: 40px;
$spacing-inline-xl: 48px;
$spacing-inline-xxl: 56px;
$spacing-inline-xxxl: 64px;

//SPACING STACK
$spacing-stack-quarck: 4px;
$spacing-stack-nano: 8px;
$spacing-stack-xxs: 16px;
$spacing-stack-sm: 24px;
$spacing-stack-md: 32px;
$spacing-stack-lg: 40px;
$spacing-stack-xl: 48px;
$spacing-stack-xxl: 56px;
$spacing-stack-xxxl: 64px;

//BORDER RADIUS
$border-radius-none: 0px;
$border-radius-quarck: 4px;
$border-radius-nano: 8px;
$border-radius-xxs: 16px;
$border-radius-sm: 14px;
$border-radius-pill: 50%;

//OPACITY
$disabled-opacity: 0.32;

:export {
  primary: $color-brand-primary-dark;
  secondary: $color-brand-secondary-dark;
  baseDarkest: $color-base-darkest;
}
