div {
  background: $color-gradient-primary;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    fill: $color-base-whitish;
    filter: brightness(0) invert(1);
    width: 128px;
    height: 128px;
  }
}
